* {
    margin:0;
    padding:0;
}

body {
    display: flex;
    justify-content:center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: white;
}

.calculator {
    background-color: red;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center; 
}

.display {
    width: 100%;
    height: 40px;
    background-color:white;
    text-align: right;
    font-size: 22px;
    padding: 5px;
    margin-bottom: 10px;
    overflow: hidden;
    border: 1px solid white;
    border-radius: 5px;
    box-sizing: border-box;
}

.buttons {
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

.btn {
    padding: 15px;
    font-size: 18px;
    background-color: white;
    cursor: pointer;
}

.btn:hover {
    background-color: white;
}

.promo{
    padding-top: 750px;
}